<!-- used to diplay any notice messages -->
<p id="notice"><%= notice %></p>

<!-- Displays tweet's message -->
<p>
  <strong>Message:</strong>
  <%= @tweet.message %>
</p>

<!-- Displays username of person who created the tweet -->
<p>
  <strong>User:</strong>
  <%= @tweet.user.username %>
</p>

<!-- Links to a page to edit the tweet -->
<%= link_to 'Edit', edit_tweet_path(@tweet) %> 

<!-- Links back to tweet index page -->
<%= link_to 'Back', tweets_path %>
