<!-- used to diplay any notice messages -->
<p id="notice"><%= notice %></p>

<!-- Displays tweet's message -->
<h1>
  <strong>Message:</strong>
  <%= @tweet.message %>
</h1>

<div class="tweet_show">
<!-- Displays username of person who created the tweet -->
<h3>
  <strong>User:</strong>
  <%= link_to @tweet.user.username, profile_path(@tweet.user) %>
</h3>

<%= render "shared/likes" %>
<br />

<% if @tweet.user == current_user %>
<!-- Links to a page to edit the tweet -->
<%= link_to 'Edit', edit_tweet_path(@tweet) %> 

<!-- Links back to tweet index page -->
<%= link_to 'Back', tweets_path %>
<% end %>
</div>
