<!DOCTYPE html>
<html>
<head>
  <title>Chirp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Boostrap link -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

</head>
<body>
   <!-- Top Navbar -->
   <nav class="navbar navbar-default">
      <div class="container-fluid">

         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
            <p class="navbar-brand"> Emily and Paul's Chirp Site</p>
            <!--
            <a class="navbar-brand" href="index.html">Emily Ring</a>
         -->
         </div>

         <!-- Right Navbar Items -->
         <ul class="nav navbar-nav navbar-right">
                <% if current_user != nil %>
               <li>
                  <%= link_to current_user.username, profile_path(current_user) %>
               </li>
               <li>
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
               </li>
               <% end %>
         </ul>

         </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
   </nav>

<%= yield %>

</body>
</html>
